:root {
  --light-navbar-background-color: #1687a7;
}

:root {
  --dark-navbar-background-color: #0a6d8a;
}

.sideNavbar {
  min-height: 95vh;
  background: var(--light-navbar-background-color);
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 5;
}

@media only screen and (min-width: 640px) {
  .sideNavbar {
    width: 40%;
  }
}
@media only screen and (min-width: 820px) {
  .sideNavbar {
    width: 30%;
  }
}
@media only screen and (min-width: 1280px) {
  .sideNavbar {
    width: 20%;
  }
}

.menuItemContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 640px) {
  .sideNavbar {
    height: 50px;
    position: sticky;
    bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .menuItemContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
  }

  .button {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading {
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.heading {
  color: white;
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  cursor: pointer;
  color: white;
  text: center;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 300ms;
}

.button:hover {
  background: var(--dark-navbar-background-color);
}

.button-deselected {
  background: var(--light-navbar-background-color);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.1);
}
.button-selected {
  background: var(--dark-navbar-background-color);
  box-shadow: 0px 10px 15px -12px rgba(0, 0, 0, 0.25);
}

.menuItemContainer::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
