.WhatWeDoSectionHome {
  padding: 3%;
  margin-right: 10%;
}

.what-we-do-header {
  font-size: 50px;
  margin-bottom: 90px;
}

.lead {
  font-size: 22px;
  font-weight: 400;
}
.wrap{
  margin-right: 1%;
  margin-left: 1%;
}
