:root {
  --font-style: "Inters";
  --light-event-home-background-color: #f6f5ff;
}

@media (min-width: 0px) {
  .eventSectionGb {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 500px;
    left: 0;
    top: 0;
    background: var(--light-event-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }

  .event-header-img {
    width: 80vw;
  }

  .text-div {
    margin-top: 20px;
  }
  .exploreText {
    font-size: 50px;
    font-family: var(--font-style);
    font-weight: bolder;
  }

  .searchBox {
    width: 100%;
    height: 40px;
    font-size: 22px;
    border-radius: 8px;
    background-color: #cccccc;
  }

  .searchButton {
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 8px;
    top: -40px;
    left: 87%;
    background-color: #1687a7;
  }
}

@media (min-width: 576px) {
  .eventSectionGb {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 590px;
    left: 0;
    top: 0;
    background: var(--light-event-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }

  .event-header-img {
    width: 380px;
  }
  .text-div {
    margin-top: 20px;
  }
  .exploreText {
    font-size: 70px;
    font-family: var(--font-style);
    font-weight: bolder;
  }

  .searchBox {
    margin-left: 140px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #cccccc;
  }

  .searchButton {
    position: relative;
    width: 55px;
    height: 50px;
    border-radius: 8px;
    top: -50px;
    left: 485px;
    background-color: #1687a7;
  }
}

@media (min-width: 768px) {
  .eventSectionGb {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 330px;
    left: 0;
    top: 0;
    background: var(--light-event-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }

  .event-header-img {
    width: 380px;
  }
  .text-div {
    margin-top: 74px;
  }
  .exploreText {
    font-size: 50px;
    font-family: var(--font-style);
    font-weight: bolder;
    margin-left: 50px;
  }

  .searchBox {
    margin-left: 50px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #cccccc;
  }

  .searchButton {
    position: relative;
    width: 55px;
    height: 50px;
    border-radius: 8px;
    top: -50px;
    left: 395px;
    background-color: #1687a7;
  }
}

@media (min-width: 992px) {
  .eventSectionGb {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 350px;
    left: 0;
    top: 0;
    background: var(--light-event-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }

  .event-header-img {
    width: 420px;
  }
  .text-div {
    margin-top: 74px;
  }
  .exploreText {
    font-size: 70px;
    font-family: var(--font-style);
    font-weight: bolder;
    margin-left: 80px;
  }

  .searchBox {
    margin-left: 80px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #cccccc;
  }

  .searchButton {
    position: relative;
    width: 55px;
    height: 50px;
    border-radius: 8px;
    top: -50px;
    left: 425px;
    background-color: #1687a7;
  }
}

@media (min-width: 1200px) {
  .eventSectionGb {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 420px;
    left: 0;
    top: 0;
    background: var(--light-event-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }

  .event-header-img {
    width: 500px;
  }
  .text-div {
    margin-top: 74px;
  }
  .exploreText {
    font-size: 80px;
    font-family: var(--font-style);
    font-weight: bolder;
    margin-left: 80px;
  }

  .searchBox {
    margin-left: 80px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #cccccc;
  }

  .searchButton {
    position: relative;
    width: 55px;
    height: 50px;
    border-radius: 8px;
    top: -50px;
    left: 425px;
    background-color: #1687a7;
  }
}

@media (min-width: 1400px) {
  .eventSectionGb {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 420px;
    left: 0;
    top: 0;
    background: var(--light-event-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }

  .event-header-img {
    width: 500px;
  }
  .text-div {
    margin-top: 74px;
  }
  .exploreText {
    font-size: 80px;
    font-family: var(--font-style);
    font-weight: bolder;
    margin-left: 80px;
  }

  .searchBox {
    margin-left: 80px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #cccccc;
  }

  .searchButton {
    position: relative;
    width: 55px;
    height: 50px;
    border-radius: 8px;
    top: -50px;
    left: 425px;
    background-color: #1687a7;
  }
}

@media (min-width: 1600px) {
  .eventSectionGb {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 500px;
    left: 0;
    top: 0;
    background: var(--light-event-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }

  .event-header-img {
    width: 600px;
  }
  .text-div {
    margin-top: 74px;
  }
  .exploreText {
    font-size: 100px;
    font-family: var(--font-style);
    font-weight: bolder;
    margin-left: 110px;
  }

  .searchBox {
    margin-left: 115px;
    width: 500px;
    height: 65px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #cccccc;
  }

  .searchButton {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 8px;
    top: -65px;
    left: 550px;
    background-color: #1687a7;
  }
}
