:root {
  --light-navbar-background-color: #1687a7;
}

.bg {
  background: var(--light-navbar-background-color);
}

.img-logo {
  width: 200px;
}

.navLink {
  font-size: large;
  font-weight: 500;
  color: #fff !important;
}

a:hover { 
  color: #022731 !important; 
}

.wrap {
  padding-left: 4%;
  padding-right: 4%;
}

.navbar-container {
  margin-bottom: 100px;
}

.profile-icon{
padding-left:6px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor:pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

@media only screen and (min-width: 900px) {
  .dropdown-content {
    right:0px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
