:root {
  --light-home-background-color: #f6f5ff;
}

body {
  overflow-x: hidden;
}

.header {
  display: block;
  position: relative;
}

@media (min-width: 0px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 720px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }

  .home-header-title {
    font-weight: bolder;
    font-size: 70px;
    font-style: normal;
    line-height: 118px;
    margin-bottom: auto;
  }

  .home-header-content {
    font-weight: 400;
    font-size: 19px;
  }

  .home-header-img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }

  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }

  /*.home-header-btn:hover {
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
  }
*/
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #fff;
    border-radius: 25px;
    font-family: "inter";
    color: #1687a7;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0.15, 0.15, 0.15, 0.15);
    transition: all 0.05s ease;
    margin-left: 38%;
    margin-top: 5px;
  }
}

@media (min-width: 576px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 560px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }

  .home-header-title {
    font-weight: bolder;
    font-size: 50px;
    font-style: normal;
    line-height: 118px;
    margin-bottom: auto;
  }

  .home-header-content {
    font-weight: 400;
    font-size: 19px;
  }

  .home-header-img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }

  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }

  /*.home-header-btn:hover {
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
  }
*/
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #fff;
    border-radius: 25px;
    font-family: "inter";
    color: #1687a7;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0.15, 0.15, 0.15, 0.15);
    transition: all 0.05s ease;
    margin-left: 40%;
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 400px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 56%, 0 80%);
  }

  .home-header-title {
    font-weight: bolder;
    font-size: 50px;
    font-style: normal;
    line-height: 118px;
    width: 748px;
    margin-left: 20px;
    margin-bottom: auto;
  }

  .home-header-content {
    font-weight: 400;
    font-size: 19px;
    margin-left: 20px;
  }

  .home-header-img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }

  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }

  /*.home-header-btn:hover {
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
  }
*/
  .home-header-btn {
    width: 110px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #fff;
    border-radius: 25px;
    font-family: "inter";
    color: #fff;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0.15, 0.15, 0.15, 0.15);
    transition: all 0.05s ease;
    margin-left: 20px;
    margin-top: 5px;
  }
}

@media (min-width: 992px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 400px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 85%);
  }

  .home-header-title {
    font-weight: bolder;
    font-size: 60px;
    font-style: normal;
    line-height: 118px;
    width: 748px;
    margin-left: 60px;
  }

  .home-header-content {
    font-weight: 400;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 10px;
  }

  .home-header-img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }

  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }

  /*.home-header-btn:hover {
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
  }
*/
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #fff;
    border-radius: 25px;
    font-family: "inter";
    color: #1687a7;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0.15, 0.15, 0.15, 0.15);
    transition: all 0.05s ease;
    margin-left: 60px;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 480px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 67%, 0 95%);
  }

  .home-header-title {
    font-weight: bolder;
    font-size: 80px;
    font-style: normal;
    line-height: 118px;
    margin-top: 60px;
    width: 748px;
    margin-left: 70px;
  }

  .home-header-content {
    font-weight: 400;
    font-size: 22px;
    margin-left: 70px;
    margin-top: 10px;
  }

  .home-header-img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    visibility: visible;
  }

  .home-header-btn {
    transition: all 0.2s ease;
    margin-left: 70px;
    margin-top: 20px;
  }

  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }

  /*.home-header-btn:hover {
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
  }
*/
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #fff;
    border-radius: 25px;
    font-family: "inter";
    color: #1687a7;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0.15, 0.15, 0.15, 0.15);
    transition: all 0.05s ease;
    margin-left: 70px;
    margin-top: 5px;
  }
}

@media (min-width: 1400px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 450px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }

  .home-header-title {
    font-weight: bolder;
    font-size: 90px;
    font-style: normal;
    line-height: 118px;
    margin-top: 40px;
    width: 748px;
    margin-left: 90px;
  }

  .home-header-content {
    font-weight: 400;
    font-size: 22px;
    margin-left: 90px;
    margin-top: 10px;
  }

  .home-header-img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    visibility: visible;
  }

  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }

  /*.home-header-btn:hover {
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
  }
*/
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #fff;
    border-radius: 25px;
    font-family: "inter";
    color: #1687a7;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0.15, 0.15, 0.15, 0.15);
    transition: all 0.05s ease;
    margin-left: 90px;
    margin-top: 5px;
  }
}

@media (min-width: 1600px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 580px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }

  .home-header-title {
    font-weight: bolder;
    font-size: 120px;
    font-style: normal;
    line-height: 118px;
    margin-top: 40px;
    width: 748px;
  }

  .home-header-content {
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
  }

  .home-header-img {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    visibility: visible;
  }

  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }

  /*.home-header-btn:hover {
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
  }
*/
  .home-header-btn {
    width: 170px;
    height: 50px;
    left: 84px;
    top: 551px;
    background: #fff;
    border-radius: 25px;
    font-family: "inter";
    color: #1687a7;
    font-size: 23px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0.15, 0.15, 0.15, 0.15);
    transition: all 0.05s ease;
    margin-left: 90px;
    margin-top: 5px;
  }
}
