.blog-card-img {
  border-radius: 10px 10px 0px 0px;
}

.mediumProfileImg{
  max-width: 30px;
  max-height: 30px;
}

.blog-card-header-col1{
  padding-right: 5px;
}

.blog-card-header-col2{
  padding-left: 15px;
}

@media (min-width: 0px) {

  .blog-card {
    width: 250px;
    height: 400px;
    min-height: 380px;
    border-radius: 20px;
    flex-wrap: wrap;
    flex: initial;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }
}

@media (min-width: 250px) {

  .blog-card {
    width: 280px;
    height: 450px;
    min-height: 380px;
    margin-left: 15px;
    border-radius: 20px;
    flex-wrap: wrap;
    flex: initial;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }

  .card-body {
    position: absolute;
    margin-top: 55%;
  }
}

@media (min-width: 390px) {

  .blog-card {
    width: 300px;
    height: 420px;
    min-height: 380px;
    margin-left: 0px;
    border-radius: 20px;
    flex-wrap: wrap;
    flex: initial;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }
}

@media (min-width: 576px) {

  .blog-card {
    width: 300px;
    height: 420px;
    min-height: 380px;
    border-radius: 20px;
    flex-wrap: wrap;
    flex: initial;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }

}

@media (min-width: 768px) {

  .blog-card {
    width: 300px;
    height: 420px;
    min-height: 380px;
    border-radius: 20px;
    flex-wrap: wrap;
    flex: initial;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }

}

@media (min-width: 992px) {
  .blog-card {
    width: 300px;
    height: 420px;
    min-height: 380px;
    border-radius: 20px;
    flex-wrap: wrap;
    flex: initial;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }

}

@media (min-width: 1200px) {
  .blog-card {
    width: 350px;
    height: 460px;
    min-height: 380px;
    border-radius: 10px 10px;
    border-radius: 20px;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }
}

@media (min-width: 1400px) {

  .blog-card-header-col1{
    padding-top: 5px;
    padding-right: 0px;
  }

  .blog-card {
    width: 380px;
    height: 490px;
    min-height: 380px;
    border-radius: 10px 10px;
    background: var(--light);
    transition: 0.2s;
    border-radius: 20px;
  }

  .blog-card:hover {
    box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
  }
}
