.mainSection {
  margin-left: 10rem;
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)  {

  .mainSection {
    margin-left: auto;
    margin-right: auto;
  }

.col-sm-8 {
  width: 50%;
  margin: auto;
}

  p,h2 {
    text-align: center;
  }
  h2 {
    padding-top:25px;
  }

}