.need-validationanu{
  position: relative;
  top:10px;
  bottom:10px;
  background-color:#F6F5F5 ;
  border: 2px solid #276678;
  padding :30px;
  border-radius:15px;
  height: fit-content;
}

.anuformin {
    width: 100%;
    height: 800px;
    white-space: nowrap;
    position: relative;
    overflow-y: scroll;
  }