.need-validation{
position: absolute;
width: 750px;
height: 950px;
left: 0px;
top: 100px;

background: #F6F5F5;
backdrop-filter: blur(4px);
}

.anumainform {
    width: 100%;
    height: 900px;
    white-space: nowrap;
    position: relative;
    overflow-y: scroll;
  }