.need-validation4{
    
        padding-right: 80px;
        padding-left: 70px;

    
}
.payslip-topic{
    text-align: center;

}
.threerowbox{
    position: relative;
    background: white;
    color: #276678;
    border-radius: 4px;
    width: 500px;
    height : 140px;
    padding: auto;
    left: 40px;
    right: 40px;

}

dl.d-data {
    margin: 0px 0px 0px 0px;
    padding-top: 0;
    padding-bottom: 0;

}
*, ::after, ::before {
    box-sizing: border-box;
}

dl.ps-dl {
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.ap-brand{
    position: relative;
    color : #276678;
    font-size: 24px;
    font-family: sans-serif;
    left:160px;
    top:10px;
    font-weight: bold;

}
h2{
    position: relative;
    top: 20px;
    left: 40px;
    padding-bottom:8px;
}
hr{
    color: black;
}


.back{
    position: relative;
    top:20px;
    width: auto;
    height: 70px;
    bottom: 20px;
    font-size: 10px;
    font-family:Arial;
}
.box2{
    position: relative;
    background: #1687A7;
    border-radius: 6px;
    height : 100px;
    width: 500px;
    padding: auto;
    left: 40px;
    right: 40px;
    top: 20px;
    color: white;
}

h3{
    color: white;
    position: relative;
    padding-bottom: 4px;
    left:165px;
    top:10px;
}
.status{
    position: relative;
    left:180px;
    top:10px;
    color: white;
}

.hr-line2{
    height: 0px;
  
    border: 3px solid #D3E0EA;
    transform: rotate(0.21deg);
  }

  .ps-hr{
    margin: 0px 0px;
  }

  .topic{
    color: #1687A7;
    position: relative;
    font-weight: bold;
}
.ps-dt{
    
        color: black;
        position: relative;
        left: 0px;
        font-weight: 500;
        display: block;
    
}

.ps-dd {
    color: #276678;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 0;
    margin-left: 0;
    display: block;
    margin-inline-start: 100px;
}
p.ps-data{
    margin: 0px 0px 0px;
}

.payslipContainer{
    padding-left: 30px;
}

