.need-validation{
    background: #D3E0EA;
    border-color: 2px #276678;
    

}
.ckbox{
    position: relative;
    background: rgb(146, 195, 241);
    color: #343e41;
    border-radius: 4px;
    height : 100px;
    width: 400px;
    padding: auto;
    left: 35px;
    right: 40px;

}

.cksub-details{
    position: relative;
    color : #08080a;
    font-size: 18px;
    font-family: sans-serif;
    left:30px;
    top:10px;
    font-weight: bold;

}

.ap-brand{
    position: relative;
    color : #276678;
    font-size: 24px;
    font-family: sans-serif;
    left:160px;
    top:10px;
    font-weight: bold;

}
h2{
    position: relative;
    top: 20px;
    left: 40px;
    padding-bottom:8px;
}
hr{
    color: black;
}

.ckdt{
    color: #004466;
    position: relative;
    left:1.5px;
    top: 23px;
}

.ckdd{
    color: #004466;
    position: relative;
    left: 120px;
    top: 0px;
}

.ckddp{
    color: #004466;
    position: relative;
    left: 65px;
    top: 0px;
}

.back{
    position: relative;
    top:20px;
    width: auto;
    height: 70px;
    bottom: 20px;
    font-size: 10px;
    font-family:Arial;
}
.box2{
    position: relative;
    background: #1687A7;
    border-radius: 6px;
    height : 100px;
    width: 500px;
    padding: auto;
    left: 40px;
    right: 40px;
    top: 20px;
    color: white;
}

h3{
    color: white;
    position: relative;
    padding-bottom: 4px;
    left:165px;
    top:10px;
}
.status{
    position: relative;
    left:180px;
    top:10px;
    color: white;
}

.hr-line2{


    height: 0px;
    left: 478px;
    top: 308px;
  
    border: 3px solid #D3E0EA;
    transform: rotate(0.21deg);
  }

  .topic{
    color: #1687A7;
    position: relative;

    font-weight: bold;
}

.btncookies{
position: absolute;
width: 90px;
height: 25px;
left: 300px;
top: -20px;

background: #276678;
border-radius: 20px;
  }
