.bbbdiv1 {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 50px;
  top: 190px;
  border-radius: 20px;
  background: #276678;
}
.bbbdiv2 {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 310px;
  top: 190px;
  border-radius: 20px;
  background: #d3e0ea;
}
.div99 {
  position: absolute;
  width: 290px;
  height: 67px;
  left: 650px;
  top: 200px;
  border-radius: 20px;
  background: #d3e0ea;
}
.btn-outline-dark {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 570px;
  top: 190px;
  border-radius: 20px;
}
.emptxt1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.00022em;
  
  color: #ffffff;
}
.txt2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.00022em;

  color: #1687a7;
}
.txt99 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.00022em;

  color: #1687a7;
}
.heademp {
  position: absolute;
  width: 623px;
  height: 80px;
  left: 50px;
  top: 60px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #1687a7;
}
.lineemp {
  position: absolute;
  width: 1000.03px;
  height: 0px;
  left: 50px;
  top: 130px;

  border: 3px solid #d3e0ea;
  transform: rotate(0.21deg);
}
.buddiv3 {
  position: absolute;
  width: 450px;
  height: 80px;
  left: 600px;
  top: 300px;

  background: #1687a7;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}
.budtxt3 {
  position: absolute;
  width: 94px;
  height: 29px;
  left: 25px;
  top: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.00022em;

  color: #c4c4c4;
}
.budselect1 {
  position: absolute;
  width: 272px;
  height: 50px;
  left: 150px;
  top: 16px;

  background: #ffffff;
  border-radius: 5px;
}
.budsearch2 {
  position: absolute;
  width: 110px;
  height: 40px;
  left: 495px;
  top: 60px;
}
.table1 {
  position: absolute;
  width: 1000px;

  left: 50px;
  top: 450px;
}
.thead {
  background: #276678;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #1687a7;
  background: #d3e0ea;
}
.tfoot {
  background: #276678;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;
  background: #d3e0ea;
}
.tfoot a {
  text-decoration: none;
  color: #1687a7;
}
.tfoot:hover {
  background: #47daba;
}
.butah {
  position: absolute;
  width: 523px;
  height: 66px;
  left: 50px;
  top: 400px;

  color: #000000;
}
.budmain {
  width: 100%;
  height: 750px;
  white-space: nowrap;
  position: relative;
  overflow-y: scroll;
}
.tbody1 {
  text-align: center;
}
