.bumain {
  width: 100%;
  height: 850px;
  left: 0px;
  white-space: nowrap;
  position: relative;
  overflow-y: scroll;
}
.buhead1 {
  position: absolute;
  width: 623px;
  height: 129px;
  left: 0px;
  top: 50px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 58px;

  color: #1687A7;
}
.buline1 {
  position: absolute;
  width: 97%;
  height: 0px;
  left: 0px;
  top: 100px;

  border: 3px solid #1687A7;
  transform: rotate(0.21deg);
}
/*New Report Button*/
.budiv4{
  position: absolute;
  width: 200px;
  height: 48px;
  left: 1110px;
  top: 50px;

  background: #276678;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-radius: 30px;
}
.budiv4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.budiv4 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.budiv4:hover span {
  padding-right: 25px;
}

.budiv4:hover span:after {
  opacity: 1;
  right: 0;
}
.butxt4{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.00022em;

  color: #F6F5F5;
}



/*Table 1*/
.butah1 {
  position: absolute;
  width: 523px;
  height: 66px;
  left: 0px;
  top: 150px;

  color: #000000;
}
.butable1 {
  position: absolute;
  width: 100%;

  left: 0px;
  top: 0px;
}
.buthead {
  background: #1687A7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;
}
.tfoot {
  background: #276678;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;
  background: #276678;
}
.tfoot a {
  text-decoration: none;
  color: #ffffff;
}
.tfoot:hover {
  background: #47daba;
}


  .butmain {
    position: absolute;
    width: 98%;
    height: 200px;
    top: 220px;
  
    background: #f6f5f5;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 15px;
    white-space: nowrap;
    position: relative;
    overflow-y: auto;
  }
.butbody1 {
  text-align: center;
}

  /*Search Tab*/
  .budiv3 {
    position: absolute;
    width: 413px;
    height: 55px;
    left: 900px;
    top: 150px;
  
    background: #276678;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 5px;
  }
  
  .budiv31 {
    position: absolute;
    width: 413px;
    height: 55px;
    left: 900px;
    top: 450px;
  
    background: #276678;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
  }

  .budiv331 {
    position: absolute;
    width: 413px;
    height: 55px;
    left: 900px;
    top: 750px;
  
    background: #276678;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
  }
  
  .butmain2 {
    position: absolute;
    width: 98%;
    height: 200px;
    top: 320px;
  
    background: #f6f5f5;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 15px;
    white-space: nowrap;
    position: relative;
    overflow-y: auto;
  }

/*Table 2*/
.butah2 {
  position: absolute;
  width: 523px;
  height: 66px;
  left: 0px;
  top: 450px;

  color: #000000;
}
.butable2 {
  position: absolute;
  width: 100%;

  left: 0px;
  top: 0px;
}
.buthead2 {
  background: #1687A7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;

}
.tfoot {
  background: #276678;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;
  background: #276678;
}
.tfoot a {
  text-decoration: none;
  color: #ffffff;
}
.tfoot:hover {
  background: #47daba;
}
.butbody1 {
  text-align: center;
}

.buselect1 {
    position: absolute;
    width: 272px;
    height: 40px;
    left: 10px;
    top:8px;
  
    background: #ffffff;
    border-radius: 5px;
}
.busearch {
    position: absolute;
    width: 110px;
    height: 40px;
    left: 295px;
    top: 8px;

    background: #D3E0EA;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}



  /*Table 2*/
  .butable3 {
    position: absolute;
    width: 100%;
  
    left: 0px;
    top: 690px;
  }
 
  .tfoot {
    background: #276678;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #ffffff;
    background: #276678;
  }
  .tfoot a {
    text-decoration: none;
    color: #ffffff;
  }
  .tfoot:hover {
    background: #47daba;
  }

  .butah3 {
    position: absolute;
    width: 523px;
    height: 66px;
    left: 0px;
    top: 600px;
  
    color: #000000;
  }

  .butmain3 {
    position: absolute;
    width: 98%;
    height: 200px;
    top: 420px;
  
    background: #f6f5f5;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 15px;
    white-space: nowrap;
    position: relative;
    overflow-y: auto;
  }

 /*Table 4*/
.butah3 {
  position: absolute;
  width: 523px;
  height: 66px;
  left: 0px;
  top: 750px;

  color: #000000;
}
.butable4 {
  position: absolute;
  width: 100%;

  left: 0px;
  top: 0px;
}
.buthead4 {
  background: #1687A7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;

}
.tfoot {
  background: #276678;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;
  background: #276678;
}
.tfoot a {
  text-decoration: none;
  color: #ffffff;
}
.tfoot:hover {
  background: #47daba;
}
 