.nisalhead1 {
  position: absolute;
  width: 623px;
  height: 129px;
  left: 0px;
  top: 60px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #1687a7;
}
