.inventory {
    width: 100%;
    height: 850px;
    white-space: nowrap;
    position: relative;
    overflow-y: scroll;
  }
  .inventory::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  

/*table*/

.tblhead {
    background-color: #276678;
    color: white;
} 

.aptab-btn{
  background-color: #D3E0EA;

}

.aptab-btn:hover{
  background-color: #1687A7;
  color: white;
}
.hr{
  position: absolute;
  width: 1371.03px;
  height: 0px;
  left: 477px;
  top: 303px;
  size: 1px;
  
  border: 3px solid #D3E0EA;
  transform: rotate(0.21deg);
}

.aptab-disable {
  background-color: #276678;
  color: white;
}
.aptab-disable:hover {
  background-color: #276678;
  color: white;
}

.search-bar {

  background: #1687A7;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;


}

.ap-topic{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  padding-top: 15px;

  color: #1687A7;
}


.ap-displaypg{
  margin: auto;
  width: 50%;
  border: 3px solid #D3E0EA;;
  padding: 10px;
}

.addbtn{
  position: relative;
  width: auto;
  height: 50px;
  float: right;
  padding: 12px 28px;
  border-radius: 4px;
  color: #276678;
  background: #d3e0ea;
}
.addbtn:hover{
  background-color:#ffffff;
  color: #276678;
}

.total{
  float: right;
  font-size: 20px;
  border: 2px solid #1687A7;
  border-radius: 30px;
  padding: 10px;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);


}

body::-webkit-scrollbar-thumb {
background-color: #1687A7;
outline: 1px solid #1687A7;

}
.saj{
  width:100%;
  height:816px;
  white-space: nowrap;
  position: relative;
  overflow-y: auto;
}

.lapcontent{
  border: 2px solid #1687A7;
  padding: 10px;
}

select{
  color: #F4B400;  
}
option.alertgreen{
  color: #0F9D58;
}
.alertblue{
  color: #009fe3;

}
option[value="Pending"] {
  color:red;
 }



  
   
 