
h1{
  color: #276678;
   
}
h2 {
  color: #1687A7;
}

hr{
  color: #1687A7;
}

.addbtn{
  width: auto;
  height: 50px;
  top:25px;
  right: 50px;
  padding: 12px 28px;
  border-radius: 4px;
  color: #276678;
  background: #d3e0ea;

  
}
.addbtn:hover{
  background-color:#ffffff;
  color: #276678;
}



.searchFilter {
  position: absolute;
  width: 700px;
  height: 100px;
  left: 174px;
  right: auto;
  top: 300px;
  
  background: #1687a7;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 5px;
}
  .txt {
    position: absolute;
    width: 90px;
    height: 29px;
    left: 60px;
    top: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    

  
    text-align: center;
    letter-spacing: -0.00022em;
  
    color: #c4c4c4;
  }
  .select {
    position: absolute;
    width: 272px;
    height: 60px;
    left: 200px;
    top: 20px;
  
    background: #ffffff;
    border-radius: 5px;
    
  }
  
 
  .table1 {
    height: fit-content;
    width:900px;
    left: 50px;
    right:50px;
    top: 450px;
  
  }
  .thead {
    background-color: #276678;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #ffffff;
    
  }
  .tbody-container{
    text-align: center;
  }
  .tfoot {
    background-color: #276678;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #ffffff;
    
  }
  .div1 {
   
    width: 200px;
    height: 50px;
    left: 50px;
    top: 200px;
    padding: 12px 28px;
    border-radius: 4px;
  
    background-color: #276678;
  }
  .div2 {
   
    width: 200px;
    height: 50px;
    left: 250px;
    top: 200px;
    padding: 12px 25px;
    border-radius: 4px;
    background-color: #d3e0ea;
  }
  
 
 /*lapp*/
 