.containerbox{
  padding: 50px;
}
h1{
  position: relative;
  top: 100px;
  left: 30px;
  color: #276678;
   
}
.laptoptxt{
   color: #d3e0ea;
} 
.repairlaptoptxt{
    color: #276678;
}

.laptopbtn{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 50px;
  top: 150px;
  padding: 12px 28px;
  border-radius: 4px;

  background-color: #276678;
}
.repairlaptopbtn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 250px;
  top: 150px;
  padding: 12px 25px;
  border-radius: 4px;
  background-color: #d3e0ea;
}



.addbtn{
  position: relative;
  width: auto;
  height: 50px;
  top: 50px;
  float: right;
  padding: 12px 28px;
  border-radius: 4px;
  color: #276678;
  background: #d3e0ea;

  
}
.addbtn:hover{
  background-color:#ffffff;
  color: #276678;
}



.searchFilter {
  position: absolute;
  width: 700px;
  height: 100px;
  left: 174px;
  right: auto;
  top: 250px;
  
  background: #1687a7;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 5px;
}
  .filter {
    position: absolute;
    width: 90px;
    height: 29px;
    left: 60px;
    top: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #c4c4c4;
  }
  .select {
    position: absolute;
    width: 272px;
    height: 60px;
    left: 200px;
    top: 20px;
    background: #ffffff;
    border-radius: 5px;
    
  }
  
 
  table {
    height: fit-content;
    position: relative;
    width:900px;
    left: 20px;
    top: 250px;
  
  }
  thead {
    position: relative;
    background: #276678;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #ffffff;
    
  }
  tbody{
    text-align: center;
    line-height: 28px;
  }
  tfoot {
    background-color: #276678;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #ffffff;
    
  }
  i{
    padding-left: 1em
  }

 /**/
 