.div1{
    position: absolute;
width: 290px;
height: 67px;
left: 50px;
top: 200px;

background: #276678;
}
.div2{
    position: absolute;
width: 290px;
height:67px;
left: 350px;
top: 200px;

background: #D3E0EA;
}
.txt1{


font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 19px;
text-align: center;
letter-spacing: -0.00022em;

color: #FFFFFF;
}
.txt2{

    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 19px;
text-align: center;
letter-spacing: -0.00022em;

color: #1687A7;
}
.heademp{
    position: absolute;
width: 623px;
height: 80px;
left: 50px;
top: 50px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;

color: #1687A7;
}
.lineemp{
    position: absolute;
width: 1000.03px;
height: 0px;
left: 50px;
top: 130px;

border: 3px solid #D3E0EA;
transform: rotate(0.21deg);
}

.select1{
    position: absolute;
width: 272px;
height: 60px;
left: 185px;
top: 50px;

background: #FFFFFF;
border-radius: 5px;
}
.search2{
    position: absolute;
width: 110px;
height: 40px;
left: 495px;
top: 60px;
}
.budtable1{
    position: absolute;
width: 1000px;

left: 50px;
top: 350px;

}
.thead{
    background: #276678;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #1687A7;
    background: #D3E0EA;
    
}
.tfoot{
    background: #276678;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00022em;
    color: #FFFFFF;
    background: #D3E0EA;
    
}
.tfoot a{
    text-decoration: none;
    color: #1687A7;
    
}
.tfoot:hover{
    background: #47daba;
}
.tah{
position: absolute;
width: 523px;
height: 66px;
left: 50px;
top: 570px;


color: #000000;
}
.main{
    width:100%;
    height:850px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
}
.tbody1{
    text-align: center;
}
