.anumain3 {
    width: 100%;
    height: 850px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .anuhead1c {
    position: absolute;
    width: 800px;
    height: 80px;
    left: 50px;
    top: 50px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
  
    color: #1687a7;
  }

  .anuline1c {
    position: absolute;
    width: 1000.03px;
    height: 0px;
    left: 50px;
    top: 130px;
  
    border: 3px solid #d3e0ea;
    transform: rotate(0.21deg);
  }
  .anumain33 {
    position: absolute;
    width: 100%;
    height: 1100px;
    left: 50px;
    top: 200px;
  
    background: #f6f5f5;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 15px;
  }

  .anuic {
    position: absolute;
    width: 192px;
    height: 33px;
    left: 100px;
    top: 100px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }
  .anuicc {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 200px;
    top: 100px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
  }

  .anuiic {
    position: absolute;
    width: 192px;
    height: 33px;
    left: 100px;
    top: 175px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }
  .anuiicc {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 200px;
    top: 175px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
  }

  .anuiiic {
    position: absolute;
    width: 192px;
    height: 33px;
    left: 375px;
    top: 175px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }
  .anuiiicc {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 500px;
    top: 175px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
  }

  .anuivc {
    position: absolute;
    width: 192px;
    height: 33px;
    left: 100px;
    top: 200px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }
  .anuivcc {
    position: absolute;
    width: 450px;
    height: 40px;
    left: 250px;
    top: 275px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
  }

  .anuvic {
    position: absolute;
    width: 192px;
    height: 33px;
    left: 100px;
    top: 275px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }
  .anujvic{
    position: absolute;
    width: 192px;
    height: 33px;
    left: 100px;
    top: 325px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }
  .anujivic{
    position: absolute;
    width: 192px;
    height: 33px;
    left: 100px;
    top: 395px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }

  .anuvicc {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 200px;
    top: 275px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
  }
  .anujvicc{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 200px;
    top: 325px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
  }
  .anujivicc{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 340px;
    top: 395px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
  }


  .senaviic {
    position: absolute;
    width: 192px;
    height: 33px;
    left: 100px;
    top: 725px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.00022em;
  
    color: #1687a7;
  }