.sendiv1 {
  position: absolute;
  width: 290px;
  height: 67px;
  left: 0px;
  top: 200px;

  background: #276678;
}
.sendiv2 {
  position: absolute;
  width: 290px;
  height: 67px;
  left: 300px;
  top: 200px;

  background: #d3e0ea;
}

/*New Report Button*/
.sendiv4{
  position: absolute;
  width: 251px;
  height: 48px;
  left: 700px;
  top: 165px;

  background: #276678;
  background: #1687A7;
  

  border-radius: 5px;

}

.sentxt4{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.00022em;

  color: #F6F5F5;
}

.amandi{
  position: absolute;
  width: 100px;
  height: 40px;
  left: 800px;
  top: 525px;

  background: #D3E0EA;;
  
  

  border-radius: 5px;

}

.banana{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;

  
  text-align: center;
  letter-spacing: -0.00022em;

  color: #000000;
}

/*Navigation Buttons*/
.senadiv1{
  position: absolute;
  width: 251px;
  height: 48px;
  left: 450px;
  top: 65px;

  background: #276678;
  background: #276678;
  ;
  

  border-radius: 5px;

}
.senatxt1{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.00022em;

  color: #F6F5F5;
}

.senadiv2{
  position: absolute;
  width: 251px;
  height: 48px;
  left: 725px;
  top: 65px;

  background: #276678;
  background: #276678;
  ;
  

  border-radius: 5px;
}

.senatxt2{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.00022em;

  color: #F6F5F5;
}

/*Two Tabs*/

.sentxt1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.00022em;

  color: #ffffff;
}
.sentxt2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.00022em;

  color: #1687a7;
}
.senhead1 {
  position: absolute;
  width: 623px;
  height: 129px;
  left: 0px;
  top: 60px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #1687A7;
}
.senline1 {
  position: absolute;
  width: 1071.03px;
  height: 0px;
  left: 0px;
  top: 130px;

  border: 3px solid #d3e0ea;
  transform: rotate(0.21deg);
}

/*Search Tab*/
.sendiv3 {
  position: absolute;
  width: 413px;
  height: 55px;
  left: 550px;
  top: 235px;

  background: #1687a7;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.sendiv31 {
  position: absolute;
  width: 413px;
  height: 55px;
  left: 550px;
  top: 525px;

  background: #1687a7;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.sentxt3 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.00022em;

  color: #c4c4c4;
}
.senselect1 {
  position: absolute;
  width: 272px;
  height: 40px;
  left: 10px;
  top:8px;

  background: #ffffff;
  border-radius: 5px;
}
.sensearch {
  position: absolute;
  width: 110px;
  height: 40px;
  left: 295px;
  top: 8px;

  background: #D3E0EA;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  }

  .sensearch1 {
      position: absolute;
      width: 110px;
      height: 40px;
      left: 295px;
      top: 8px;
  
      background: #D3E0EA;
      border: 1.5px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 30px; 
  }

/*Table 1*/
.sentable1 {
  position: absolute;
  width: 100%;

  left: 0px;
  top: 300px;
}

.sentable2 {
  position: absolute;
  width: 100%;

  left: 0px;
  top: 650px;
}

.senthead {
  background: #276678;;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;
  background: #276678;;
}
.tfoot {
  background: #276678;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.00022em;
  color: #ffffff;
  background: #276678;
}
.tfoot a {
  text-decoration: none;
  color: #ffffff;
}
.tfoot:hover {
  background: #47daba;
}

.sentahss {
  position: absolute;
  width: 523px;
  height: 66px;
  left: 0px;
  top: 235px;


  color: #000000;
}

.sentah1 {
  position: absolute;
  width: 523px;
  height: 66px;
  left: 0px;
  top: 525px;

  color: #000000;
}

.sentbody99 {
  text-align: center;
}

.senmaintop {
  width: 100%;
  height: 800px;
  white-space: nowrap;
  position: relative;
  overflow-y: scroll;
}

.ketchup{
  position: absolute;
  width: 97px;
  height: 45px;
  left: 50px;
  top: 165px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.00022em;

  color: #000000;

}


.sauce{
  position: absolute;
  width: 150px;
  height: 40px;
  left: 100px;
  top: 165px;
  
  background: #ffffff;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;

}

.berry{
  position: absolute;
  width: 97px;
  height: 45px;
  left: 300px;
  top: 165px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.00022em;

  color: #000000;
}



.cherry{
  position: absolute;
    width: 200px;
    height: 40px;
    left: 375px;
    top: 165px;
  
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;

    color: #000000

}

.puppy{
  top: 525px;
}


